.img-detail-banner {
  width: 100%;
  height: auto;
  max-height: 500px;
}
.info-detail-content {
  padding: 66px 300px;
  text-align: center;
  .title {
    @include rem('font-size', 34);
    color: $color-title-detail;
  }
  .info-detail {
    @include rem('font-size', 12);
    text-align: justify;
    color: $color-desc-detail;
  }
}
.b-content-list-item {
  .list-item-contet {
    margin: 0;
    list-style-type: none;
    li {
      padding: 0;
      .item-link-detail {
        display: block;
        .img-link-content {
          display: block;
          overflow: hidden;
          &:hover {
            .img-detail {
              @include scale(1.1);
            }
          }
        }
        .img-detail {
          @include transition (all .8s ease-in-out);
          width: 100%;
          height: auto;
        }
        .des-content {
          padding: 35px 15px;
          text-align: center;
        }
        .title {
          color: $color-title-dark;
        }
        .desc {
          color: $color-desc-item;
        }

        .link-button {
          display: block;
          cursor: pointer;
        }
        .grandicons-next-arrow {
          @include  rem('font-size', 28);
          color: $color-grey-link-2;
        }
      }
    }
  }
}
