.txt-45 {
  @include rem('font-size', 45);
}
.txt-14 {
  @include rem('font-size', 14);
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb98 {
  margin-bottom: 98px;
}
